.nav-bar{
    font-family: Raleway;
    font-weight: bold;
    border-style: solid;
    border-width: 10em;
}

h1{
font-family: spicy rice;
font-size:60px;
}

h2{
font-family: lobster;
font-style: italic;
}

h3{
font-family: titan one;
}

.img-small{
    border-radius: 50px;
    max-height:300px;
    margin: 0 auto;
}

img{
max-width:100%;
height:auto;
}

.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}



#title{
    background: url('img/balloon-background.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    color: black;
    line-height:3;

}

#home{
    text-align: center;
    background-color: #ffcba4;
    padding:10px;
    font-family:titan one;
    font-weight:bold;
}

#info{
    padding:5%;
    background-color:powderblue;
}

#gallery{
font-size:24px;
margin-top:16px;
margin-bottom:16px;
}


#testimonials{
padding-top:24px;
padding-bottom:24px;
background-color: powderblue;
border-style:solid;
border-width:8px;
}

#testimonials p{
border-style:solid;
border-width:2px;
padding:2em;
}

@media (max-height:576px){
    p{
        font-size:10px;
    }
    
    a{
        font-size:16vmin;
    }
}