.nav-bar{
    font-family: Raleway;
    font-weight: bold;
    border-style: solid;
    border-width: 10em;
}

h1{
font-family: spicy rice;
font-size:60px;
}

h2{
font-family: lobster;
font-style: italic;
}

h3{
font-family: titan one;
}



#home{
    background: url('img/balloon-background.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    color: black;
    line-height:3;

}